<div class="card">
  <div class="card-body" *ngIf="serviceUrl && reportPath">
    <bold-reportviewer id="reportViewer_Control" [reportServiceUrl]="serviceUrl" [reportPath]="reportPath" [parameters] = "parameters" style="width: 100%;height: 950px">
    </bold-reportviewer>
    </div>
</div>
